<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
</head>
<body ng-app="app">
<div class="container">
    <div class="header">
        <h1>Waitstaff Calculator</h1>
    </div>
    <div class="content" ng-controller="mealController as vm">
        <div class="col-xs-6">
            <div class="panel panel-default detail">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter the Meal Details</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" name="vm.theForm"
                          ng-submit="vm.theForm.$valid && vm.submitForm()" novalidate>
                        <table align="center" class="detail">
                            <tr>
                                <td class="text-right"><label class="control-label">Base Meal Price: </label></td>
                                <td>
                                    <div class="input-group"
                                         ng-class="{'has-success':(vm.theForm.price.$valid && !vm.theForm.$pristine),
                                            'has-error':(vm.theForm.price.$invalid && !vm.theForm.$pristine) || (vm.theForm.$submitted && vm.theForm.price.$invalid)}">
                                        <span class="input-group-addon">$&nbsp;</span>
                                        <input type="number" name="price" class="form-control col-xs-3"
                                               ng-model="vm.meal.price" required min="1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><label class="control-label">Tax Rate: </label></td>
                                <td class="text-left">
                                    <div class="input-group"
                                         ng-class="{'has-success':(vm.theForm.tax.$valid && !vm.theForm.$pristine),
                                            'has-error':(vm.theForm.tax.$invalid && !vm.theForm.$pristine) || (vm.theForm.$submitted && vm.theForm.tax.$invalid)}">
                                        <span class="input-group-addon">%</span>
                                        <input type="number" name="tax" class="form-control col-xs-2 small"
                                               ng-model="vm.meal.tax" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><label class="control-label">Tip Percentage: </label></td>
                                <td class="text-left">
                                    <div class="input-group"
                                         ng-class="{'has-success':(vm.theForm.tip.$valid && !vm.theForm.$pristine),
                                            'has-error':(vm.theForm.tip.$invalid && !vm.theForm.$pristine) || (vm.theForm.$submitted && vm.theForm.tip.$invalid)}">
                                        <span class="input-group-addon">%</span>
                                        <input type="number" name="tip" class="form-control col-xs-2 small"
                                               ng-model="vm.meal.tip" required>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="form-btn">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" ng-click="vm.resetForm()" class="btn btn-default">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Charges</h3>
                </div>
                <div class="panel-body">
                    <table align="center">
                        <tr>
                            <td class="text-right">Subtotal:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_subtotal | currency}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Tip:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_tip | currency}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Total:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_total | currency}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">My Earning Info</h3>
                </div>
                <div class="panel-body">
                    <table align="center">
                        <tr>
                            <td class="text-right">Tip Total:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_tipTotal | currency:'$' :0}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Meal Count:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_count}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Average Tip per Meal:</td>
                            <td class="text-left">
                                <label class="control-label">{{vm.meal_tipAvg | currency:'$' :0}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-danger" ng-click="vm.resetApp()">Reset</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>